{{#> layout}}
<div class="container-float">
    <h2>Nome do Actor</h2>
    <table>
        <tr>
            <th>Title</th>
            <th>Release Date</th>
            <th>Vote Avg</th>
        </tr>
        {{#each cast}}
            <tr>
                <td><a href="/movies/{{this.id}}">{{this.title}}</a></td>
                <td>{{this.releaseDate}}</td>
                <td>{{this.voteAverage}}</td>
            </tr>
        {{/each}}
    </table>
</div>
{{/layout}}