{{#> layout}}
<div class="container-float">
    <table>
        <tr>
            <th>Name</th>
            <th>Character</th>
        </tr>
        {{#each cast}}
            <tr>
                <td><a href="/actors/{{this.id}}">{{this.name}}</a></td>
                <td>{{this.character}}</td>
            </tr>
        {{/each}}
    </table>
</div>
{{/layout}}