{{#> layout}}

    <input type="text" id="user_search_text" class="form-control"  placeholder="Search For A User" style="width:300px; text-align:right;">
    <a href="/user" onclick="searchUser(this)">
        <button class="btn btn-default glyphicon glyphicon-search" type="submit">
        </button>
    </a>

{{/layout}}